# prevent accidental commits by exclude everything
/*

# only include project files
!/.npmignore
!/*.md
!/*.png
!/plugin.xml
!/package.json
!/www
!/android
/android/*
!/android/src
!/ios
/ios/*
!/ios/CDVBackgroundGeolocation.xcodeproj
/ios/CDVBackgroundGeolocation.xcodeproj/*
!/ios/CDVBackgroundGeolocation.xcodeproj/project.pbxproj
!/ios/CDVBackgroundGeolocation
!/ios/CDVBackgroundGeolocationTests
!/ios/CordovaLib
/ios/CordovaLib/*
!/ios/CordovaLib/README.md
