<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.transistorsoft.cordova.background-geolocation"
      version="0.1.0">
    <name>CDVBackgroundGeoLocation</name>
    <description>Cordova Background GeoLocation Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,background geolocation</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundGeoLocation">
                <param name="android-package" value="CDVBackgroundGeolocation"/>
            </feature>
        </config-file>

        <source-file src="src/android/CDVBackgroundGeoLocation.java" target-dir="src/org/transistorsoft/background-geolocation" />      
        <js-module src="www/android/BackgroundGeoLocation.js" name="BackgroundGeoLocation">
            <clobbers target="cordova.plugins.backgroundGeoLocation" />
        </js-module>

     </platform>          

     <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundGeoLocation">
                <param name="ios-package" value="CDVBackgroundGeoLocation"/>
            </feature>
        </config-file>

        <source-file src="src/ios/CDVBackgroundGeoLocation.m" />
        <source-file src="src/ios/CDVBackgroundGeoLocation.h" />
        
        <js-module src="www/ios/BackgroundGeoLocation.js" name="BackgroundGeoLocation">
            <clobbers target="cordova.plugins.backgroundGeoLocation" />
        </js-module>

     </platform>          

</plugin>